# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zkmmupwcieyvqtyiiotb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprbW11cHdjaWV5dnF0eWlpb3RiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg1Mjc4MDIsImV4cCI6MjA3NDEwMzgwMn0.Ip6SY4TiTnR2E2iJs5tFcHYsvNjygtKKguul5zrkSq8

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
